@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html, body {
    height: 100%;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    background-image: url("img/background.jpg");
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
    color: #DADADA ;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}

.mainBox {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 800;
    height: 600;
    border-radius: 15px;
    box-shadow: 0 0 10px rgb(20, 81, 44);
    padding: 20px;
    background-color: #1F1F2A;
}

.messengerName{
    font-size: 6em;
    margin-top: 20px;
}

.form{
    width: 400px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    height: 70px;
    border-radius: 8px;
    box-sizing: border-box;
    margin-top: 50%;
}

.button {
    margin-top: 20px;
    padding: 12px 30px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049;
}